bashate==2.1.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
contourpy==1.0.5
cryptography==36.0.1
cycler==0.11.0
distlib==0.3.6
filelock==3.8.0
fonttools==4.37.3
ghost==0.6.1
greenlet==1.1.2
idna==3.3
iterm2==2.7
kiwisolver==1.4.4
matplotlib==3.6.0
msgpack==1.0.3
neovim==0.3.1
numpy==1.23.3
packaging==21.3
pbr==5.6.0
Pillow==9.2.0
platformdirs==2.5.2
protobuf==4.21.12
pycparser==2.21
pynvim==0.4.3
pyobjc-core==10.2
pyobjc-framework-Cocoa==10.2
pyobjc-framework-Quartz==10.2
pyparsing==3.0.9
python-dateutil==2.8.2
PyYAML==6.0.1
requests==2.27.1
six==1.16.0
tinydb==4.7.0
urllib3==1.26.9
virtualenv==20.16.5
websockets==10.4
